<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Appointmnent Booking System</title>
    <link rel="stylesheet" href="styles1.css">
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Merriweather:ital,wght@0,400;1,700&family=Montserrat:wght@800&family=Sacramento&family=Tapestry&family=Ubuntu+Mono:ital@1&family=Varela+Round&display=swap" rel="stylesheet">
  </head>
  <body>
    <nav>
      <ul>
        <li>APPOINTMENT BOOKING PORTAL</li>
      </ul>
    </nav>
    <div class="we">
     <div class="">
    <div class="alpha">
<form class="qwe" action="/user" method="post">
    <button type="submit" name="button" class="pika btn btn-primary">USER</button>
    </form>
    <form class="qwe" action="/admin" method="post">
    <button type="submit" name="button" class="pika btn btn-primary">ADMIN</button>
      </form>
    </div>
        </div>
        <div class ="rt">
        <h2>Book appointments in just 2 minutes.</h2></div>
      </div>
      <footer class="mop">©MADE BY GIRDHAR JHA</footer>
    <br><br><br><br><br>
  </body>
  <script type="text/javascript" src="C:\Users\GIRDHAR JHA\OneDrive\Documents\web development\face-api.js\examples\examples-browser\server.js">
   </script>
</html>
