<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Appointment BOOKING Portal</title>
    <!-- //including css stylesheet -->
    <link rel="stylesheet" href="styles4.css">
    <!-- //calling the fontawesome site -->
      <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
  </head>
  <body>
    <!-- //command to show user as verified. -->
    <div class="pika">


    <div class="alpha">
<i class="fas fa-check-circle fa-8x"></i>
</div>
<div class="alpha">
  <h1>VERIFIED</h1>
</div>
    </div>
  </body>
</html>
