.page-container {
  left: 0;
  right: 0;
  margin: auto;
  margin-top: 20px;
  padding-left: 280px;
  display: inline-flex !important;
}
body{
  display:flex;
  flex-direction:column;
  align-items: center;
  margin:20 auto;
  color:#3f80ea;
  font-weight:600;
   background-image:url("Untitled design.gif") ;
   background-position: center;
   background-size: cover;
}
@media only screen and (max-width : 1300px) {
  .page-container {
    padding-left: 0;
    display: flex !important;
  }
}

#navbar {
  position: absolute;
  top: 20px;
  left: 20px;

}

.center-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.side-by-side {
  display: flex;
  justify-content: center;
  align-items: center;
}
.side-by-side >* {
  margin: 0 5px;
}

.bold {
  font-weight: bold;
}

.margin-sm {
  margin: 5px;
}

.margin {
  margin: 20px;
}

.button-sm {
  padding: 0 10px !important;
}

.pad-sides-sm {
  padding: 0 8px !important;
}

#github-link {
  display: flex !important;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid;
  margin-bottom: 10px;
}

#overlay, .overlay {
  position: absolute;
  top: 0;
  left: 0;
}

#facesContainer canvas {
  margin: 10px;
}
.btn{
  margin-top:50px;
}
input[type="file"]::-webkit-file-upload-button {
    background: #0d6efd;
    border: 1px solid #0d6efd;
    cursor: pointer;
    color: #fff;
    border-radius: .2em;
}
/* body {
 background-image:url("Untitled design.gif") ;
 background-position: center;
 background-size: cover;
} */
.btn{
  margin-top: 20px;
  margin-bottom:20%;
    font-family:'Merriweather', serif;
}
.btn:hover{
  zoom:150%;
filter:drop-shadow(16px 16px 10px #293042);
font-family: 'Josefin Sans', sans-serif;

  transform:skewx(2deg);
}
#h1{
  color:#3f80ea;
  font-weight: 600;
}
div{
  margin:20px 0;
}
